.study-calculator-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "create-party-form-root"
    "success-rate-table-root"
    "rune-slot-rate-table-root"
    "spawn-table-root";

  .create-party-form-root {
    grid-area: create-party-form-root;
  }

  .success-rate-table-root {
    grid-area: success-rate-table-root;
  }

  .rune-slot-rate-table-root {
    grid-area: rune-slot-rate-table-root;
  }

  .spawn-table-root {
    grid-area: spawn-table-root;

    .spawn-table-container {
      overflow: auto;

      .spawn-table {
        th, td {
          &:first-child {
            border-right: 3px double rgba(0, 0, 0, 0.25);
            white-space: nowrap;
          }
        }

        tbody {
          tr {
            &:last-child {
              border-top: 3px double rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}

